* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  /* height: 100vh; */
  background: url("./Components/assets/HomeBackground.png");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: 100% 100%;
  background-position: center center;
  background-color: "red";
}

/* Admin Page 247 NO*/
.input::placeholder {
  color: #fff;
}

.hours_input::placeholder {
  font-size: 16px;
  color: #fff;
}
