* {
  margin: 0;
  padding: 0;
  background-color: "#2c0c42";
  box-sizing: border-box;
}
body {
  /* height: 100vh; */
  background: url("./Components/assets/HomeBackground.png");
  background-repeat: no-repeat;
  /* background-position: center center; */
  height: 100%;
  background-size: cover;
  background-position: center center;
}

/* Admin Page 247 NO*/
.input::placeholder {
  color: #fff;
}

.hours_input::placeholder {
  font-size: 16px;
  color: #fff;
}
